@use 'sass:color';
@use '@styles/colors.module';

.root {
  border-bottom: 1px solid color.adjust(colors.$black, $lightness: 75%);
}

.logo {
  width: auto;
}

.links {
  flex-grow: 1;
  text-align: right;
  width: auto;
}

.link {
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}
