//
// COLOUR SETTINGS
// ===============
//

$color--black = #000
$color--white = #fff

$color--primary = $color--black

// State Colours
$color--success = green
$color--notice  = blue
$color--warning = orange
$color--error   = red
