//
// BREAKPOINTS AND MEDIA QUERIES
// =============================
// Standard widths to pass to media queries
//

$mq--mobile--portrait  = 300px
$mq--mobile--landscape = 400px
$mq--tablet--portrait  = 550px
$mq--tablet--landscape = 800px
$mq--desktop--small    = 960px
$mq--desktop--medium   = 1280px
$mq--desktop--large    = 1600px

// Common aliases
$mq--mobile  = $mq--mobile--portrait
$mq--tablet  = $mq--tablet--portrait
$mq--desktop = $mq--desktop--small

// Upper and lower bounds for responsive resizing
$mq--resize-min = $mq--mobile
$mq--resize-max = $mq--desktop
