*, *:before, *:after
  box-sizing border-box

//
// SPACING
// Unset margins and padding, the reset for specific elements
//

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary
  display block
  margin 0
  padding 0

html, body, p, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form,
fieldset, legend, input, button, textarea, blockquote, th, td
  margin 0
  padding 0
