@use 'sass:color';
@use '~styles/colors.module';
@use '~styles/functions';

.root {
  border-top: 1px solid color.adjust(colors.$black, $lightness: 75%);
}

.link {
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

.icon {
  fill: currentColor;
  width: functions.spacing(4);
}

.credits {
  font-size: smaller;
  margin-top: functions.spacing(2);
}
