@import '~@newhighsco/chipset/src/styles/chipset-normalize';

body {
  font-size: 18px;
  line-height: 1.5;
  font-weight: normal;
  // TODO:
  // font-family: $font-family-body;
}

a {
  text-decoration: none;
}
