@import '~@newhighsco/chipset/src/styles/chipset-mixins';
@import '../../styles/settings/colors.module';

.logo {
  fill: currentColor;
  margin-right: spacing(1);
  vertical-align: middle;
  width: 32px;
}
