//
// CONTENT CENTER
// ==============
//

.content-center
  clearfix()
  margin-left auto
  margin-right auto
  width 100%
  max-width $mq--resize-max

.content-center--narrow
  max-width $mq--tablet
