//
// TEXT BUTTON
// Simple reset to make button elements look more like text links.
//

.text-button
  @extend $default-link
  padding 0
  margin 0
  border 0
  background none
  cursor pointer
  font-family inherit
  font-size inherit
  line-height inherit
