@use '../../styles/functions';

.link a {
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

.icon {
  fill: currentColor;
  width: functions.spacing(4);
}

.credits {
  font-size: smaller;
  margin-top: functions.spacing(2);
}
