//
// VISIBILITY
// ==========
//

//
// REMOVED FROM DOCUMENT
// Only use if content has no SEO / Accessibility value
//

is-hidden()
  display none !important //@stylint ignore

.is-hidden
  is-hidden()

+width-max($mq--tablet - 1)
  .is-hidden-mobile
    is-hidden()

//
// JS VISIBILITY
// show/hide classes depending on if JS is enabled
//

.is-hidden-js
  .js &
    is-hidden()

.is-hidden--no-js
  .no-js &
    is-hidden()
